<?xml version   ="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.sap.p106.manager-dashboard"
    versioncode = "1"
    version     = "1.0.0">
    
    <name>Manager Dashboard</name>
    
    <content src="index.html"/>
    
    <description>
        Test application with SAPUI5 and Phonegap
    </description>
    
    <preference name="phonegap-version" value="3.0.0" />
    <gap:platform name="ios"/> <!-- AlexR --> 

    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/file"/>      

    <preference name="android-minSdkVersion" value="9" />
    <access origin="*" />
</widget>